@keyframes bulgeIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.bulge-in {
    animation: bulgeIn 0.5s ease-in-out;
}
.video-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    object-fit: contain; /* Ensures the video maintains aspect ratio */
}
.gradient-background {
    background: linear-gradient(to bottom right, #ddb4f6, #d0b9f7, #c2bdf8, #b5c2f9, #a8c7fa, #9acbfb, #8dd0fc);
}
