@tailwind base;
@tailwind components;
@tailwind utilities;

.password-container {
    position: relative;
    width: fit-content;
  }
  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  

  /* loader */
  .loader {
    transform: translateZ(1px);
  }
  .loader:after {
    content: '$';
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    line-height:40px;
    font-size: 32px;
    font-weight: bold;
    background: #FFD700;
    color: #DAA520;
    border: 4px double ;
    box-sizing: border-box;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
    animation: coin-flip 4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes coin-flip {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
        


  /* HTML: <div class="loader_graph"></div> */
.loader_graph {
  width: 40px;
  height: 30px;
  --c:no-repeat linear-gradient(#000 0 0);
  background:
    var(--c) 0    100%/8px 30px,
    var(--c) 50%  100%/8px 20px,
    var(--c) 100% 100%/8px 10px;
  position: relative;
  clip-path: inset(-100% 0);
}
.loader_graph:before{
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000;
  left: -16px;
  top: 0;
  animation: 
    l5-1 2s   linear infinite,
    l5-2 0.5s cubic-bezier(0,200,.8,200) infinite;
}
@keyframes l5-1 {
  0%   {left:-16px;transform:translateY(-8px)}
  100% {left:calc(100% + 8px);transform:translateY(22px)}
}
@keyframes l5-2 {
  100% {top:-0.1px}
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}